<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
    <!--STYLES-->
    <!--STYLES END-->
  </head>
  <body  ng-app="brushfire_videosPage" ng-controller="PageCtrl">
    <div class="container-fluid">
      <nav class="navbar navbar-default navbar-inverse">
        <!-- This creates the mechanism for collapse button -->
        <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target=".navbar-collapse">
        <!-- This controls the number of lines in the image when the nav collapse -->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <!-- This is the brand on the left-hand side. -->
        <a href="/#" class="pull-left"><img height="29" width="25" src="/images/logo.png" 
          style="margin-top: 10px; margin-left: 10px;"></a>
        <a class="navbar-brand" href="/#"> Brushfire</a>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/videos">Videos</a></li>
          </ul>
        </div>
      </nav>
      <!-- SUBMIT NEW VIDEO -->
      <section class="the-submit-video-form col-md-4">
        <h3>See something missing?</h3>
        <h4>{{newVideoTitle}}</h4>
        <h4 ng-class="{{newVideoTitle}}">TEST COLOR?</h4>
        <form ng-submit="submitNewVideo()">
          <input class="form-control" type="text" ng-model="newVideoTitle"
          ng-disabled="busySubmittingVideo" name="title" placeholder="e.g. My video title"/>
          <input class="form-control" type="text" ng-model="newVideoSrc"
          ng-disabled="busySubmittingVideo" name="src"
          placeholder="e.g.  https://www.youtube.com/embed/Kdgt1ZHkvnM"/>
          <button class="btn btn-success" type="submit" ng-disabled="busySubmittingVideo">
            {{ busySubmittingVideo ? 'Submitting...' : 'Submit Video' }}
          </button>
        </form>
      </section>
      <!-- LIST OF VIDEOS -->
      <section class="the-list-of-videos col-md-12">
        <div class="loading" ng-if="videosLoading">Loading videos...</div>
        <ul class="list-unstyled">
          
          <li class="video" ng-repeat="video in videos" ng-if="!videosLoading">
            <h2>{{ video.title }}</h2>
            <iframe width="640" height="390" ng-src="{{video.src}}" frameborder="0" allowfullscreen>
            </iframe>
          </li> 
          
        </ul>
      </section>
    </div>
    <!--TEMPLATES-->
    <!--TEMPLATES END-->
    <!--SCRIPTS-->
    <!--SCRIPTS END-->
  </body>
</html>